<h1> <%= @group.name %> </h1>
<h3> <%= @group.description %> </h3>

<div>
  <% if current_user.member?(@group) %>
    <%= link_to "Leave Group", group_membership_path(@group, current_user.group_membership(@group)), method: :delete %>
  <% else %>
    <%= link_to "Join Group", group_memberships_path(@group), method: :post %>
  <% end %>
</div>

<aside>
  <fieldset>
    <h3> Members </h3>
    <div class="members">
      <ul>
        <%= render partial: "users/admin", collection: @group.admins %>
      </ul>
      <ul>
        <%= render partial: @group.non_admin_users, locals: {group: @group} %>
      </ul>
    </div>
  </fieldset>
</aside>

<%= link_to "New Message", new_group_message_path(@group) %>

<div>
  <%= render partial: @group.messages_desc, locals: {group: @group} %>
</div>
